[Unit]
Description=Recognize WanPad CA

[Service]
Type=simple
User=root
WorkingDirectory=/etc/wanpad/ca-recognition/
ExecStart=/etc/wanpad/ca-recognition/recognize-ca.sh

[Install]
WantedBy=multi-user.target
