[Unit]
Description=WANPAD birdwatcher service
Requires=network.target network-online.target
[Service]
Type=forking
User=root
WorkingDirectory=/etc/wanpad/birdwatcher/
ExecStartPre=sleep 5s
ExecStart=./birdwatcher-linux-amd64 --config /etc/birdwatcher/birdwatcher.conf
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
