[Unit]
Description=WANPAD birdwatcher service
Requires=network.target network-online.target
[Service]
Type=simple
User=root
ExecStart=/etc/wanpad/birdwatcher/birdwatcher-linux-amd64 --config /etc/birdwatcher/birdwatcher.conf
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
