[Unit]
Requires=network-online.target network.target
After=network-online.target network.target
Description=WANPAD startup service 

[Service]
Type=simple
User=root
ExecStart=/etc/wanpad/client-services/wanpad-startup/startup.sh

[Install]
WantedBy=multi-user.target
