[Unit]
Requires=network-online.target network.target
After=network-online.target network.target
Description=WanPad Controller Out of Band VPN Connect

[Service]
Type=simple
User=root
WorkingDirectory=/etc/wanpad/openvpn
ExecStart=/etc/wanpad/openvpn/controller-oob.sh

[Install]
WantedBy=multi-user.target
