[Unit]
Description=WANPAD birdwatcher service
Requires=network.target network-online.target
[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/birdwatcher --config /usr/local/etc/birdwatcher/birdwatcher.conf
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
