[Unit]
Requires=network-online.target network.target
After=network-online.target network.target
Description=WANPAD startup service 

[Service]
Type=simple
User=root
ExecStart=/usr/local/etc/wanpad/startup/startup.sh
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target
