[Unit]
Requires=network-online.target network.target
After=network-online.target network.target
Description=WANPAD repo update 

[Service]
Type=simple
User=root
ExecStart=/etc/wanpad/client-services/update-repo/update.sh

[Install]
WantedBy=multi-user.target
